@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    
    -webkit-user-select: none;
    user-select: none;
}

body, html, .wall {
	position: relative;
    overflow: hidden;

    min-width: 100vw;
    min-height: 100vh;
}

.pointer {
    pointer-events: none;

    position: absolute;
    top: 0;
    left: 0;

    z-index: 10;
    opacity: 0%;
}

.wall {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #eee;
    opacity: 0%;
}

.wall a {
    cursor: pointer;
    display: block;
    margin: 12px 16px;
    font-size: 40px;
}

.chosen {
    text-decoration: underline;
    color: #000;
    font-weight: bold;
}
/*
font-family: 'Cinzel', serif;
font-family: 'Dancing Script', cursive;
font-family: 'Grenze Gotisch', cursive;
font-family: 'Sevillana', cursive;
font-family: 'Great Vibes', cursive;
*/