@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;800&display=swap');

:root {
    --page-width: 80%;
    --color-body: #ffffff;
    --color-page: #cccccc;
    --color-header: #cccccc;
    --color-dark: #979797;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

img, p, h1, h2 {filter: grayscale(100%);}

body {background-color: var(--color-body);}

.page > * {filter: blur(.6px);}

.page {
    margin: auto;
    width: var(--page-width);
    height: fit-content;
    /*
    background: url(img/paper5.jpg);
    background-position: center;
    background-size: cover;
    */
    background-color: var(--color-page);
}

header {
    position: fixed;
    padding-top: 7px;

    height: 80px;
    width: var(--page-width);

    font-size: 3em;
    font-weight: bold;
    text-align: center;
    z-index: 10;

    background-color: var(--color-header);
}

.gray-zone {
    height:200px;
    background-color: var(--color-dark);
}

.title-text {
    width: 80%;
    
    font-size: 3.5em;
    font-weight: 600;
    margin-left: 70px;
}

.main-img {
    width: 80%;
    margin: 30px 24px;
}

.main-img img {
    width: 100%;
}

.intro {
    font-style: italic;
}

.text {
    text-align: justify;
    font-size: 1.5em;
    padding-top: 0px;
    margin-left: 20px;
    margin-right: 30px;
}

.section-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    padding: 50px 0;
    height: 100%;
}

.par-section {
    width: 80%;
    margin-left: 50px;
    margin-right: 10px;
}

.adv-section {
    background-color: var(--color-dark);
    position: sticky;
    top: 80px;

    padding: 5px 20px;

    margin-left: 10px;
    margin-right: 100px;

    width: 400px;
    height: fit-content;
}

.adv {
    margin-bottom: 20px;
}

.adv h2 {
    margin: auto;
    text-align: center;
    margin-bottom: 8px; 
}

.adv img {
    margin: 0%;
    width: 100%;
}

.adv img:hover {
    filter: opacity(60%) grayscale(100%);
}

@media only screen and (max-width: 1299px) {
    :root {
        --page-width: 100%;
    }
    .adv-section {
        margin-right: 40px;
    }
    .par-section {
        margin-left: 20px;
    }
}

@media only screen and (max-width: 699px) {
    
    .gray-zone {
        height: 140px;
    }

    .par-section {
        margin: 0 10px;
        width: 100%;
    }

    .title-text {
        font-size: 2.5em;
    }

    .adv-section {
        display: none;
    }
}