@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;800&display=swap');

:root {
    --page-width: 80%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

img {
    filter: grayscale(100%);
    z-index: 0;
}

html, body {
    background-color: rgb(206, 206, 206);
    overflow-x: hidden;
}

.page {
    margin: auto;
    width: var(--page-width);
    height: fit-content;

    background-color: #fff;
}

header {
    position: fixed;
    padding-top: 12px;

    height: 80px;
    width: var(--page-width);

    font-size: 40px;
    font-weight: bold;
    text-align: center;
    z-index: 10;

    color: #000;
    background-color: #fff;
}

.gray-zone {
    height:200px;
    background-color: rgb(167, 167, 167);
}

.title-text {
    width: 80%;
    
    font-size: 3em;
    font-weight: 600;
    margin-left: 10%;
}

.main-img {
    width: 80%;
    margin: 30px 24px;
}

.main-img img {
    width: 100%;
}

.intro {
    font-style: italic;
}

.text {
    font-size: 1.2em;
    padding-top: 0px;
    margin-left: 20px;
    margin-right: 30px;
}

.section-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    padding: 50px 0;
    height: 100%;
}

.par-section {
    width: 80%;
    margin-left: 50px;
    margin-right: 10px;
}

.adv-section {
    position: sticky;
    top: 80px;

    margin-left: 10px;
    margin-right: 100px;

    width: 300px;
    height: fit-content;
}

.adv {
    margin-bottom: 20px;
}

.adv h2 {
    margin: auto;
    text-align: center;
}

.adv img {
    margin: 0%;
    width: 100%;
}

/*@media()*/